<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({
        title: "Product Group: <%= @product_group.name %>",
        icon: "<%= asset_path('favicon.ico') %>"
      });
    });
  </script>

  <script type="text/javascript">
    $(document).ready(function() {
      $( "#new_product" ).autocomplete({
        source: "/product_groups/",
        minLength: 2,
        select: function( event, ui ) {
          $.post(
            '/shopify_products',
            {
              shopify_product: {
                shopify_product_id: ui.item.id,
                product_group_id: <%= @product_group.id %>
              }
            },
            function(res) {
              console.log(res);
            }
          );
        }
      });
    });
  </script>
<% end %>

<h1><%= @product_group.name %></h1>
<ul>
  <% @product_group.shopify_products.each do |sp| %>
    <li><%= ShopifyAPI::Product.find(sp.shopify_product_id).title %></li>
  <% end %>
</ul>

<input type="text" name="new_product" id="new_product">
